@import url('https://fonts.googleapis.com');

 body {
  background-color: #FFC40C;

} 

:root {
  --primary-color: #FFC40C;
  --secondary-color: #FF312E;
  --accent1-color: #FF8C00;
  --accent2-color: #468FEA;

  --heading-font: 'Open Sans', serif;
  --paragraph-font: 'Montserrat', serif;

  --nav-background-color: var(--primary-color);
  --nav-link-color: var(--secondary-color);
  --nav-hover-link-color: var(--accent1-color);
  --nav-hover-background-color: var(--accent2-color);
  
}

header {
  display: grid;
  background-color: steelblue;
  grid-template-columns: 1fr 1fr;
  
}

header img { 
  width: 100px;
  height: 100%;
}

nav {
  background-color: steelblue;
  color: var(--secondary-color);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
 
}


h2 {
  color:#333;
  text-align: center;
}

p {
  color: #333;
}

a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  
}

a:hover {
  color: var(--accent1-color);

}

.hero {
  position: relative;
  display: inline-block;

}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}


#section1 {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

article {
  position: absolute;
  top: 52%;
  left: 30%;
  right: 10%;
  font-size: 20px;
  text-align: center;
}

article h1 {
  position: block;
  color: var(--secondary-color);
  text-align: center;
}

article img {
  position: block;
  max-width: 200px;
  max-height: 100px;
  float: right;
}

.Employee {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
}

.form {
  width: 650px;
  margin: 0 auto;
  padding: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  
}
.form-style {
  background-color: var(--accent2-color) !important;
  color: var(--accent1-color) !important;
}
form p {
  background-color: var(--accent2-color) !important;
  color: var(--accent1-color) !important;
  font-size: 1.1rem;
}

form label {
  background-color: var(--accent2-color) !important;
  color: var(--accent1-color) !important;
}

/* form input {
  background-color: var(--accent2-color) !important;
  color: var(--accent1-color) !important;
} */

form h1 {
  background-color: var(--accent2-color) !important;
  color: var(--accent1-color) !important;
}


button {
  background-color: var(--accent1-color);
  color: var(--accent2-color);
  margin: 1rem;
  border: none;
  padding: 10px;
  
  font-size: 1.2rem;
}

button:hover{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}


.adventure {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  flex-direction: column;
}

.adventure img {
  width: 300px;
  height: 200px;
  margin: 1rem;
}

footer {
  background-color: steelblue;
  margin-top: 10px;
  border-top: 1px solid var(--accent2-color);
  display: flex;
}

footer img {
  max-width: 100px;
  max-height: 100px;
  justify-content: flex-end;
}



