@import url('https://fonts.googleapis.com');

:root {
  --primary-color: #FFC40C;
  --secondary-color: #FF312E;
  --accent1-color: #FF8C00;
  --accent2-color: #468FEA;

  --heading-font: 'Open Sans', serif;
  --paragraph-font: 'Montserrat', serif;

  --nav-background-color: var(--primary-color);
  --nav-link-color: var(--secondary-color);
  --nav-hover-link-color: var(--accent1-color);
  --nav-hover-background-color: var(--accent2-color);
  
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}

header {
  padding: 20px;
  background-color: var(--accent1-color);
}

p {
  padding: 25px;
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
}